
.main {
  width: 100%;
}

.row.no-pad {
  margin-right: 0;
  margin-left: 0;
}

.row.no-pad>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  max-height: 100px;
  height: 100px;
  position: fixed;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.img-header,
.icon-header {
  cursor: pointer;
}

.subnav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
}

.subnav-menu li {
  list-style: none;
}

.subnav-menu li a {
  text-decoration: none;
  font-size: 14px;
  color: var(--primaryColor);
  font-family: var(--font);
  padding: 5px;
}

.page-show {
  position: relative;
}

.page-show-list {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s linear;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  top: 40px;
  left: -15px;
  width: 150px;
  background-color: #fff;
}
.page-show-list::after{
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 10px;
  background-color: transparent;
  top: -12px;
  left: 0%;

}
.page-show-list li a {
  display: block;
  font-family: var(--font);
  font-size: 13px;
  padding: 10px 0;
}

.page-show:hover .page-show-list {
  visibility: visible;
  opacity: 1;

}

.icon-header {
  display: flex;
  justify-content: space-between;
}

.icon-search,
.icon-user,
.icon-cart {
  padding: 0 10px;
  margin: 1px;
  font-size: 14px;
  font-family: var(--font);
}

.icon-number {
  background-color: #333;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  color: #fff;
  text-align: center;
  top: -9px;
  right: 0px;
  line-height: 15px;
}

.icon-cart {
  position: relative;
}

.icon-user a{
  color: #000;
}


.collection-show i,
.page-show i {
  font-size: 12px;
}

.collection-show-list {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear;
  top: 80px;
  padding:0 30px 30px;
  left: 0;
  right: 0;
}
.collection-show-list::after{
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: transparent;
  top:-27px;
  left: 42%;

}
.collection-show-list .row {
  background-color: #fff;
  padding: 16px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.collection-show .collection-show-list{
  overflow: hidden;
}
.collection-show:hover .collection-show-list {
  overflow: unset;
  visibility: visible;
  opacity: 1;
}

button.collection-btn {
  font-size: 14px;
  color: #fff;
  background: blueviolet;
  display: block;
  width: 100%;
  border: none;
  padding: 10px 10px;
}

.contain-about {
  width: 100%;
}

.contain {
  padding-top: 100px;

}

.contain-1 {
  background: url(./img/img-container/shoe7.webp) no-repeat;
  background-size: cover;
  width: 92%;
  margin: 0 auto;
  height: 100vh;
}

.contain h1 {
  color: #C5EC31;
  font-size: 40px;
  margin: 0 0 15px;
}

.contain p {
  color: #C5EC31;
  font-size: 18px;
  margin: 0 0 15px;
}

.contain-btn {
  background: #C5EC31;
  font-size: 14px;
  padding: 14px 28px;
  border: none;
}

.contain-1-text {
  padding: 190px 100px;
}

.header.fixed {
  background-color: rgba(255, 255, 255, 0.7);
}

.contain-2 {
  width: 92%;
  margin: 15px auto;
}

.product {
  position: relative;
  margin-bottom: 20px;
}

.picture {
  position: absolute;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  top: 30px;
  font-weight: 600;
  padding: 0 10px;
}

.ctn2-img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ctn2-js-picture {
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cnt2-text {
  position: absolute;
  padding: 20px;
  bottom: 20px;
}

.cnt2-text h2 {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  position: relative;
}

.cnt2-text h2::after {
  content: '';
  position: absolute;
  display: block;
  height: 5px;
  width: 50px;
  background-color: black;
  bottom: -12px;
}

.cnt2-text p {
  font-size: 22px;
  font-family: 'Popin', sans-serif;
  margin: 0;
}

.contain-3 .head-cnt3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
}

.contain-3 .title-ctn3 {
  position: relative;
}

.contain-3 .title-ctn3 h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  margin: 10px 0;
}

.contain-3 .title-ctn3::before {
  content: '';
  display: block;
  height: 65px;
  width: 4px;
  background-color: #571F7C;
  position: absolute;
  left: -15px;
  top: 18px;
}

.icon-ctn3 span {
  border: 1px solid #333;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}

.icon-ctn3 span:hover {
  opacity: 0.8;
  background-color: #333;
  color: #fff;
}

.icon-ctn3 span i {
  padding: 15px;
}

.about-ctn3 {
  padding: 0 60px;
  margin-bottom: 70px;
}

.about-ctn3 .item .img-ctn3 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  cursor: pointer;
}

.img-ctn3 .icon-ctn3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  z-index: 6;
  transition: all 0.25s linear;
}

.img-ctn3:hover .icon-ctn3 {
  opacity: 1;
  visibility: visible;
}

.img-ctn3 .icon-ctn3 a {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 10px;
  margin: 5px;
}

.img-ctn3 .icon-ctn3 a:hover {
  background-color: #571F7C;
}

.about-ctn3 .item .img-ctn3:hover {}

.col-4.picture-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-shoe-ctn3 {
  padding: 0 30px;
  position: relative;
}

.name-shoe-ctn3 h1 {
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-bottom: 15px;
}

.name-shoe-ctn3 h2 {
  font-family: 'Popin', sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
}

.name-shoe-ctn3 a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  margin: 12px 0;
  padding: 0 0 15px;
  font-weight: 600;
}

.icon-ctn3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

i.fa-solid.fa-star {
  font-size: 13px;
}

i.fa-solid.fa-bag-shopping {
  font-size: xx-large;
}

.contain-4 {
  background: url(./img/img-ctn4/woman-3377839_960_720.webp) no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 60px;
}

.title-cnt4 {
  font-family: var(--roboto);
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 70%;
  height: 100vh;
  justify-content: center;
}

.title-cnt4 p {
  color: #fff;
  font-size: 22px;
}

.title-cnt4 h3 {
  color: #fff;
  font-size: 60px;
  margin-bottom: -25px;
}

.btn-ctn4 {
  position: relative;
}

.btn-ctn4 button {
  color: #fff;
  background: #571F7C;
  padding: 15px 45px;
  border: none;
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45px;
}

.btn-ctn4 p {
  color: #fff;
  font-size: 50px;
  text-align: center;
}

.btn-ctn4 span {
  font-size: 180px;
  color: rgba(255, 255, 255, 0.5);
}

.red {
  color: #E74C30;
}

.header-ctn5 {
  text-align: center;
}

.tilte-ctn5 {
  margin-bottom: 50px;
}

.tilte-ctn5 h4 {
  font-size: 36px;
  font-family: var(--roboto);
}

.tilte-ctn5 p {
  font-size: 14px;
  font-family: var(--roboto);
  margin-bottom: -16px;
  position: relative;
}

.tilte-ctn5 p::after {
  content: '';
  height: 4px;
  width: 6%;
  background-color: #571F7C;
  position: absolute;
  bottom: -10px;
  left: 47%;
}

.list-ctn5 ul {
  display: flex;
  justify-content: center;
}

.list-ctn5 li {
  list-style: none;
  padding: 14px 29px;
}

.list-ctn5 li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: var(--font);
  font-weight: 600;
}


/* CSS hover hinh anh--------------------*/
.groups-img {
  position: relative;
  overflow: hidden;
}

.groups-img .save {
  position: absolute;
  background-color: #571F7C;
  color: #fff;
  top: 10px;
  right: 10px;
  padding: 8px 13px;
}

.img-ctn3:hover img:nth-child(2) {
  opacity: 1;
  visibility: visible;
  border: 1px solid #000;
}

.groups-img img:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear;
  z-index: 5;
  width: 100%;
  height: 100%;
}


/* -------------------------------- */
.contain-6 {
  background: #fbfbfb;
  padding: 50px 0;
}

.col-3.group-icon-ctn6 {
  display: flex;
  align-items: center;
  gap: 0 15%;
}

.col-3.group-icon-ctn6 p {
  margin: 0;
  width: 25%;
}

.group-icon-ctn6 {
  font-size: 16px;
  font-family: var(--roboto);
  font-weight: 600;
}

.group-icon-ctn6 i{
  font-size: 30px;
}

.footer-about {
  background-color: #171717;
}

.footer-header {
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
}

.footer-header .item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}

.col-4.footer-icon {
  color: #fff;
  font-size: 20px;
}

.item button,
.item input {
  color: #fff;
  background: #171717;
  border: none;

}

.footer-contact {
  padding: 50px 100px;
}

.footer-title {
  color: #fff;
  font-size: 20px;
  font-family: var(--roboto);
  margin: 0 0 20px;
}

.footer-list ul {
  color: #888;
  list-style: none;
  padding-left: 0;
}

.footer-list li {
  display: flex;
  padding-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

li i {
  padding: 5px
}

li a {
  color: #888;
  text-decoration: none;
  font-family: var(--font);
}

li a:hover {
  color: blueviolet;
}

.nav-footer {
  background-color: #1a1a1a;

}

.nav-footer ul {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 0 auto;
  list-style: none;
  align-content: center;
}

.nav-footer li a {
  position: relative;
  font-size: 14px;
  font-family: var(--font);
  padding: 10px;
}

.nav-footer li a::after {
  content: '';
  position: absolute;
  display: block;
  height: 10px;
  width: 2px;
  background-color: #888;
  left: 100%;
  transform: translateX(-100%);
  bottom: 14px;
}
.nav-footer li:last-child a::after{
  width: 0;
}
.site-footer__bottom{
  background-color: #571F7C;
  padding: 20px;
}
.end-footer p {
  color: #fff;
  font-family: var(--font);
  font-size: 14px;
  text-align: center;
  margin: 0;
}
.end-footer p i {
  padding-right: 10px;
  font-size: 10px;
}
.end-footer a{
  color: #fff;
  text-decoration: none;
}
.end-footer a:hover{
  color: #171717;
}